@font-face {
  font-family: 'Blokletters-Potlood';
  src: local('Blokletters-Potlood'), url(../font/Blokletters-Potlood.ttf);
}
@font-face {
  font-family: 'Blokletters-Viltstift';
  src: local('Blokletters-Viltstift'), url(../font/Blokletters-Viltstift.ttf);
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}
.container.nopadding {
  padding: 0;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container:after {
  clear: both;
}
.container .col {
  display: block;
  float: left;
  margin: 0 20px 20px 0;
}
.container .col.right {
  float: right;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
body {
  background-color: #38281d;
  color: #FFFFFF;
  font-family: consolas, monospace;
}
a {
  color: #e6e5e6;
  text-decoration: none;
}
a:hover,
a.active,
.active > a {
  color: #fffcb0;
}
.title {
  font-family: 'Blokletters-Potlood', cursive;
  font-size: 3em;
}
.title > strong {
  font-family: 'Blokletters-Viltstift';
  font-size: .75em;
}
.nav li {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #000 1px 1px 1px;
}
.icon-home,
.icon-contact {
  background: url(../img/icons.png) no-repeat;
  display: block;
  height: 32px;
  width: 32px;
  margin: auto;
}
.icon-contact {
  background-position: -32px 0;
}
.searchbar {
  background: url(../img/searchbar_bg.png) #e6e5e6 repeat-x;
  color: #38281d;
  height: 45px;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}
.searchbar a {
  color: #73523c;
}
.searchbar .catTitle,
.searchbar .categories li,
.searchbar .search label,
.searchbar .search input {
  font-size: 18px;
  height: 25px;
  margin-left: 25px;
  padding: 10px 2px 2px 2px;
  font-weight: bold;
}
.searchbar .catTitle {
  float: left;
  margin-left: 0;
  text-transform: uppercase;
}
.searchbar .catTitle:after {
  content: '▸';
}
.searchbar .categories li {
  display: block;
  float: left;
}
.searchbar .categories li.active,
.searchbar .categories li:hover {
  border-bottom: solid 3px #000;
}
.searchbar .categories li.active a,
.searchbar .categories li:hover a {
  color: #000;
}
.searchbar .search {
  float: right;
}
.searchbar .search label {
  display: inline-block;
}
.searchbar .search input {
  background: rgba(255, 255, 255, 0.5) url(../img/search_icon.png) no-repeat 142px;
  border-radius: 5px;
  font-family: consolas, monospace;
  font-weight: normal;
  height: auto;
  padding: 2px 20px 2px 0;
  width: 140px;
}
.content {
  background-color: #e6e5e6;
}
.content .picture {
  background-color: rgba(247, 247, 247, 0.75);
  border: solid 1px #d3d2d3;
  box-sizing: border-box;
  height: 150px;
  margin-bottom: 40px;
  padding: 20px 10px 10px 10px;
  position: relative;
  width: 150px;
}
.content .picture .figure {
  background-color: #38281d;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.content .picture .figure .overlay,
.content .picture .figure img {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.content .picture .figure .overlay {
  background: url(../img/picture_hover.png) no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 0.5s opacity ease;
}
.content .picture .figure:hover .overlay {
  opacity: 1;
}
.content .picture .skotch,
.content .picture .shadow {
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.content .picture .skotch {
  background: url(../img/skotch.png) no-repeat;
  height: 34px;
  top: -20px;
  width: 114px;
}
.content .picture .shadow {
  background: url(../img/picture_shadow.png);
  background-size: cover;
  bottom: -7px;
  height: 7px;
}
.content .picture:nth-child(6n) {
  margin-right: 0;
}
.content .paginator {
  text-align: center;
}
.content .paginator a {
  color: #838383;
  display: block;
}
.content .paginator li {
  display: inline-block;
}
.content .paginator .prev,
.content .paginator .next {
  background: url(../img/prev_next.png) no-repeat;
  height: 10px;
  width: 10px;
}
.content .paginator .prev.disable {
  background-position: 0 -10px;
}
.content .paginator .next {
  background-position: -10px 0;
}
.content .paginator .next.disable {
  background-position: -10px 10px;
}
.content .paginator .number {
  background: url(../img/paginator_numbers.png) no-repeat;
  background-position: -56px 0;
  box-sizing: content-box;
  font-size: 15px;
  height: 28px;
  padding: 5px 0;
  text-align: center;
  width: 28px;
}
.content .paginator .number.active {
  background-position: 0 0;
  color: #FFF;
}
.content .paginator .number:hover {
  background-position: -28px 0;
  color: #38281d;
}
